<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fix1</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320618::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x2A8D::0x2F01::MY54305015::INSTR</string>
		<key>fix_ABC_DEF_Res</key>
		<string>0.000000</string>
		<key>fix_B2_E2_Res</key>
		<string>0.000000</string>
		<key>fix_B4_E4_Res</key>
		<string>25323.474466</string>
		<key>fix_B_E_Res</key>
		<string>27452.640330</string>
		<key>fix_Cap</key>
		<string>15.384300</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW_FIX_A</string>
		<key>fixture_uart_port_name_two</key>
		<string>/dev/cu.usbserial-EW-FIX-A</string>
		<key>scan_uart_port_name</key>
		<string>/dev/cu.usbserial-SR700A</string>
	</dict>
	<key>Fix2</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320633::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x2A8D::0x2F01::MY54304861::INSTR</string>
		<key>fix_ABC_DEF_Res</key>
		<string>0.000000</string>
		<key>fix_B2_E2_Res</key>
		<string>0.000000</string>
		<key>fix_B4_E4_Res</key>
		<string>17574.640222</string>
		<key>fix_B_E_Res</key>
		<string>22546.984049</string>
		<key>fix_Cap</key>
		<string>16.122080</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW_FIX_B</string>
		<key>fixture_uart_port_name_two</key>
		<string>/dev/cu.usbserial-EW-FIX-B</string>
		<key>scan_uart_port_name</key>
		<string>/dev/cu.usbserial-SR700B</string>
	</dict>
	<key>Fix3</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320629::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x2A8D::0x2F01::MY54304877::INSTR</string>
		<key>fix_ABC_DEF_Res</key>
		<string>0.000000</string>
		<key>fix_B2_E2_Res</key>
		<string>0.000000</string>
		<key>fix_B4_E4_Res</key>
		<string>15368.033455</string>
		<key>fix_B_E_Res</key>
		<string>23661.587202</string>
		<key>fix_Cap</key>
		<string>15.967180</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW_FIX_C</string>
		<key>fixture_uart_port_name_two</key>
		<string>/dev/cu.usbserial-EW-FIX-C</string>
		<key>scan_uart_port_name</key>
		<string>/dev/cu.usbserial-SR700C</string>
	</dict>
	<key>Fix4</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320631::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x2A8D::0x2F01::MY54305054::INSTR</string>
		<key>fix_ABC_DEF_Res</key>
		<string>0.000000</string>
		<key>fix_B2_E2_Res</key>
		<string>0.000000</string>
		<key>fix_B4_E4_Res</key>
		<string>15290.780038</string>
		<key>fix_B_E_Res</key>
		<string>16828.512128</string>
		<key>fix_Cap</key>
		<string>15.346080</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW_FIX_D</string>
		<key>fixture_uart_port_name_two</key>
		<string>/dev/cu.usbserial-EW-FIX-D</string>
		<key>scan_uart_port_name</key>
		<string>/dev/cu.usbserial-SR700D</string>
	</dict>
	<key>ServerFC</key>
	<dict>
		<key>BDAServer_IP</key>
		<string>172.19.1.2</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Front_StationName</key>
		<string>Sensor-Before-EME</string>
		<key>Net_Port</key>
		<string>8081</string>
		<key>Next_StationName</key>
		<string>Crown-Flex-EME</string>
		<key>Product</key>
		<string>A211</string>
		<key>Server_IP</key>
		<string>172.19.1.2</string>
		<key>Station_ID</key>
		<string>C9BA810F-sodium</string>
		<key>Station_Name</key>
		<string>sodium</string>
	</dict>
	<key>SingleFolder</key>
	<string>/vault/BCM_Single_Log</string>
	<key>contollerBoard</key>
	<string>/dev/cu.usbserial-EW_FIX_O</string>
	<key>contollerBoard_two</key>
	<string>/dev/cu.usbserial-EW-FIX-O</string>
	<key>contollerBoard_uart_baud</key>
	<string>115200</string>
	<key>foldDir</key>
	<string>/vault/BCM</string>
	<key>humiture_uart_baud</key>
	<string>115200</string>
	<key>humiture_uart_port_name</key>
	<string>/dev/cu.usbserial-EW_HUMIT</string>
	<key>humiture_uart_port_name_two</key>
	<string>/dev/cu.usbserial-EW-HUMIT</string>
	<key>isDebug</key>
	<false/>
	<key>reading_borad</key>
	<string>/dev/cu.usbserial-read</string>
	<key>reading_uart_baud</key>
	<string>9600</string>
	<key>scanDeivce</key>
	<string>/dev/cu.usbserial-scan</string>
	<key>scanDeivce_baud</key>
	<string>9600</string>
	<key>sw_name</key>
	<string>BCM_OQC_Station</string>
	<key>sw_ver</key>
	<string>V2.2.1Win</string>
	<key>waveFrequence</key>
	<string>1000</string>
	<key>waveOffset</key>
	<string>0</string>
	<key>waveVolt</key>
	<string>0.8</string>
	<key>FoamNum</key>
	<string>5000</string>
	<key>FixtureID</key>
	<string>00000</string>
</dict>
</plist>
